@charset "UTF-8";
/* -------------------------------------------------
 * 公共部分
 * ------------------------------------------------- */
body {
  background: linear-gradient(to right, rgba(520, 326, 450, .8),  rgba(300, 320,201, 1));
  color: #383838;
  width: 100%;
  padding: 4rem 10%;
  padding-bottom: 0;
  box-sizing: border-box;
  font-size: .9em; }
  body .fa {
    margin-right: .5em; }
  body .info-unit {
    margin-bottom: .8rem; }
    body .info-unit h2 {
      font-weight: 700; }
    body .info-unit h3 {
      font-weight: 300; }

.icon1{
  width: 3.4em;
  height: 3em;
  color: orangered;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.icon1+p{
  color: #FE3366;
}
/* -------------------------------------------------
 * 头部部分
 * ------------------------------------------------- */
header {
  position:fixed;
  background: rgba(0,0,0,.4);
  overflow:hidden;
  display: block;
  z-index:2;}
.tubiao{
display: inline;
position:relative;
left:-108px;
top: 13px;
} 
.header *{
  display:block;
}
 nav{
    position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:6;
  background: #ADD8E6;
  
  height:50px;
  z-index:2;
 
}
.btn {
  
  margin: 0px;
  padding: 1.5px;
  transition: 0.7s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 8px #FFA07A;
  border-radius: 0px;
 }
 /* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(to right,rgba(350, 290, 261, 1), rgba(253, 152, 143, .5), rgba(255, 115, 125,.8));
}

}
.clear_fix:after{
    content: '';
    display: block;
    clear: both;
}

nav ul{
  overflow: hidden;
}
nav ul li {
    display: inline-block;
    line-height: 50px;
    float: right;
    margin-right:35px;
    height: inherit;
}
nav ul li a {
    line-height:40px;
    color: #666;
        font-weight: 550
}
nav ul li.logo{
    float: left;
    margin-left:60px;
}

nav ul li a:hover {
    color: #fff;
}
.logo{
    font-size: 25px;
    font-weight:700;
    letter-spacing:1px;
}
.logo a{
    color: #000;
    
}
.active{
    position: relative;
 }
.active span{
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 4px;
    width: 100%;
    background-image: linear-gradient(to left,rgba(255, 115, 125,1), rgba(250, 150, 178, 1));
}
.mask{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,1);
    
}
#silder {
    /*display: none;*/
    position: fixed;
    right: -300px;
    top:0;
    bottom: 0;
    width: 300px;
    background: #333;
    padding: 20px 0;
    transition:.2s;
    z-index:100;
}
#silder ul a {
    padding: 20px;
    color: #fff;
    width: 100%;
    display: inline-block;
}
#silder ul a:hover{
    background: #666;
}


.top{
    display: block;
    position: fixed;
    right: 50px;
    bottom: 80px;
    width: 50px;
    height: 30px;
    /*background: dodgerblue;*/
}
.top p{
    text-align: center;
    width: 100%;

}
/* -------------------------------------------------
 * 主体部分
 * ------------------------------------------------- */
 .name{
    font-size: 2.2em;
    font-weight: bold;
    font-family: YouYuan;
    }
.info-job{
        font-size: 1.2em;
      }
.container .side {
  position: absolute;
  width: 20rem;
  background: #FFE4C4;
  border-radius: 30px;
  box-shadow: 0 5px 20px  #DEB887;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 1rem; }
  .container .side .me {
    text-align: center;
    margin-bottom: 2rem;}
    .container .side .me .portrait {
      margin: 0 auto;
      margin-bottom: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      overflow: hidden;
      position: relative; }
      .container .side .me .portrait .loading {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 8rem;
        height: 4rem;
        margin: 0 auto; }
      .container .side .me .portrait .loading span {
        display: inline-block;
        width: 8px;
        height: 100%;
        border-radius: 4px;
        background: lightgreen;
        -webkit-animation: load 1s ease infinite; }
@-webkit-keyframes load {
  0%,100% {
    height: 3rem;
    margin: .5rem 0;
    background: lightblue; }
  50% {
    height: 1rem;
    margin: 1.5rem 0;
    background: lightgreen; } }
@keyframes {
  0%,100% {
    height: 3rem;
    margin: .5rem 0;
    background: lightblue; }
  50% {
    height: 1rem;
    margin: 1.5rem 0;
    background: lightgreen; } }
      .container .side .me .portrait .loading span:nth-child(2) {
        -webkit-animation-delay: 0.2s; }
      .container .side .me .portrait .loading span:nth-child(3) {
        -webkit-animation-delay: 0.4s; }
      .container .side .me .portrait .loading span:nth-child(4) {
        -webkit-animation-delay: 0.6s; }
      .container .side .me .portrait .loading span:nth-child(5) {
        -webkit-animation-delay: 0.8s; }
      .container .side .me .portrait img {
        display: none;
        width: 100%;
        height: auto;
        border-radius: 50%; }
  .container .side .info-unit ul li label {
    display: inline-block;
    width: 35%; }
  .container .side .info-unit ul li span {
    display: inline-block;
    vertical-align: top;
    width: 60%; }
.container main {
  position: relative;
  margin-left: 22rem;
  background: #FFE4C4;
  border-radius: 30px;
  box-shadow: 0 5px 20px #DEB887;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 1rem; }
  .container main .info-unit ul {
    box-sizing: border-box;
    padding-left: 1.2rem;
    padding-right: 0.8rem; }
    .container main .info-unit ul li {
      margin-bottom: 1rem;
      list-style: disc; }
      .container main .info-unit ul li h3 .link {
        font-size: .5rem;
        border: 1px solid #4db6ac;
        padding: 1px 3px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-left: .5rem; }
      .container main .info-unit ul li h3 time {
        text-align: right;
        float: right; }
      .container main .info-unit ul li .info-content li {
        list-style: circle;
        margin: 0; }
      .container main .info-unit ul li .info-content .fa {
        font-size: 1em; }

/* -------------------------------------------------
 * 文档底部
 * ------------------------------------------------- */
.footer {
  width: 100%;
  margin-top: 1rem;
  height: 2rem; }
  .footer p {
    line-height: 2rem;
    text-align: center;
    font-size: 0.8rem; }

/* -------------------------------------------------
 * 自定义部分
 * ------------------------------------------------- */
.fa {
  font-size: 1.2em; }

h2 {
  font-size: 1.2em; }

h3 {
  font-size: 1.1em; }

hr {
  margin-bottom: .4em; }

aside {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 2; }
  aside ul li {
    margin-bottom: 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 19px 0 0 10px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: #F08080; }
    aside ul li a {
      display: inline-block;
      width: 80px;
      height: 38px;
      line-height: 38px;
      padding-left: 10px;
      color: #fff; }

progress {
  background-color: #f6f6f6;
  display: inline;
  /*width: 195px;*/
  height: 1em; }

progress::-webkit-progress-bar {
  background-color: #e0eaf0; }

progress::-webkit-progress-value {
  background-color: #F08080; }

progress::-moz-progress-bar {
  background-color: #e0eaf0; }

progress::-moz-progress-value {
  background-color: #F08080; }

.progress-list {
  line-height: 2; }

mark {
  background: rgba(232, 232, 232, 0.8); }

@media screen and (max-width: 1169px) {
  .container .info-unit h3 span {
    display: block; }

  .container .info-unit h3 span.link {
    display: inline; }

  .container .project h3 span {
    display: inline; }

  .container .project h3 time {
    display: block; }

  .container main .info-unit ul li h3 time {
    float: none;
    text-align: left; } }
@media screen and (max-width: 1034px) {
  body {
    padding: 1rem 3%; } }
@media screen and (max-width: 	750px) {
  .container .side {
    position: static;
    width: 95%;
    margin: 0 auto; }

  .container main {
    position: static;
    margin-left: 0;
    width: 95%;
    margin: 0 auto;
    margin-top: 1.5rem; }

  #nav-m {
    display: none;
    position: fixed;
    width: 28px;
    height: 28px;
    right: 10px;
    bottom: 20px;
    box-shadow: 0 5px 20px #bbb;
    border-radius: 50%; }

  #nav-m svg {
    width: 28px;
    height: 28px; }

  aside {
    display: none; } }

/*# sourceMappingURL=index.css.map */
